---
// import HeaderCard from "../components/HeaderCard.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AlertsBanner from "../components/AlertsBanner.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Techtack-Technologies | Cyber Center</title>
        <style>
            body {
                padding: 0;
                margin: 0;
                background-color: #161616;
            }
            header {
                background-color: #ffffff;
                padding: 21px;
            }

            nav ul {
                display: block;
            }

            nav ul li {
                display: inline;
                margin: 8px;
            }

            nav ul li p {
                display: inline;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                    sans-serif;
                font-size: 26px;
            }

            nav ul li a {
                color: black;
                text-decoration: none;
                font-family: sans-serif;
                font-size: 23px;
                font-weight: 500;
            }

            nav ul li a:hover {
                color: rgb(20, 72, 151);
                text-decoration: underline;
            }

            .contact {
                padding: 6rem;
                text-align: center;
            }

            .contact h1 {
                color: #ffffff;
                font-size: 3rem;
                font-family: sans-serif;
            }

            .contact p {
                color: #ffffff;
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <AlertsBanner />
        <header>
            <nav>
                <ul>
                    <li><p>Techtack-Technologies</p></li>
                    <!-- <li><a href="/welcome">Welcome</a></li> -->
                    <li>
                        <a
                            target="_blank"
                            href="mailto:joeycadieux161@gmail.com">Reach Us</a
                        >
                    </li>
                </ul>
            </nav>
        </header>
        <Header />

        <br />

        <div>
            <div class="contact">
                <h1>Contact</h1>
                <p>Canada & US</p>
            </div>
        </div>

        <Footer />
    </body>
</html>
