---
// import HeaderCard from "../components/HeaderCard.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AlertsBanner from "../components/AlertsBanner.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Techtack-Technologies | Cyber Center</title>
		<style>
			body {
				padding: 0;
				margin: 0;
			}

			nav {
				padding: 25px;
				background-color: #fff;
			}

			nav p {
				display: inline;
				font-family: sans-serif;
				font-size: 26px;
				color: #161616;
				font-weight: 500;
			}

			nav ul {
				display: block;
			}

			nav ul li {
				display: inline;
				margin: 8px;
			}

			nav ul li a {
				color: black;
				font-weight: 300;
				font-family: sans-serif;
				text-decoration: none;
			}

			.section {
				padding: 7rem;
				text-align: center;
			}

			.section .text-articles {
				color: black;
				padding-top: 25px;
				font-family: "Lucida Sans", "Lucida Sans Regular",
					"Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
					sans-serif;
				font-weight: 500;
				font-size: 1.5rem;
			}
			.section1 {
				padding: 7rem;
				text-align: center;
				background-color: burlywood;
			}

			.section1 .text-articles1 {
				color: black;
				padding-top: 25px;
				font-family: "Lucida Sans", "Lucida Sans Regular",
					"Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
					sans-serif;
				font-weight: 500;
				font-size: 1.5rem;
			}
		</style>
	</head>
	<body>
		<AlertsBanner />
		<header>
			<nav>
				<ul>
					<li><p>Techtack-Technologies</p></li>
					<li><a href="#">Welcome</a></li>
				</ul>
			</nav>
		</header>
		<Header />

		<br />
		<br />

		<!-- <HeaderCard /> -->
		<div class="section">
			<div class="text-articles">
				<h3>
					Tecktack Technologies stands at the cutting edge of
					innovation in the tech industry, renowned for its pioneering
					solutions and transformative impact across various domains.
					Established with a vision to redefine technological
					paradigms, Tecktack Technologies harnesses the power of
					advanced AI, machine learning, and data analytics to craft
					bespoke solutions tailored to meet the unique challenges of
					today's digital landscape.
				</h3>
			</div>
		</div>

		<div class="section1">
			<div class="text-articles1">
				<h3>
					At Tecktack, innovation is not just a goal but a core ethos
					ingrained in every facet of its operations. From developing
					scalable cloud-based architectures to creating intuitive
					mobile applications, Tecktack Technologies excels in
					delivering robust, future-proof solutions that drive
					efficiency, productivity, and growth for its global
					clientele.
				</h3>
			</div>
		</div>
		<Footer />
	</body>
</html>
