---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Techtack-Technologies - Welcome | Cyber Center</title>
        <style>
            body {
                padding: 0;
                margin: 0;
                background-color: rgb(37, 41, 73);
            }
            header {
                background-color: whitesmoke;
                padding: 21px;
            }

            nav ul {
                display: block;
            }

            nav ul li {
                display: inline;
                margin: 8px;
            }

            nav ul li p {
                display: inline;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                    sans-serif;
                font-size: 26px;
            }

            nav ul li a {
                color: black;
                text-decoration: none;
                font-family: sans-serif;
                font-size: 23px;
                font-weight: 500;
            }

            nav ul li a:hover {
                color: rgb(20, 72, 151);
                text-decoration: underline;
            }

            .section {
                padding: 25px;
                text-align: center;
            }

            .section .text-articles {
                color: white;
                padding-top: 25px;
                font-family: "Lucida Sans", "Lucida Sans Regular",
                    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
                    sans-serif;
                font-weight: 500;
                width: 800px;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><p>Techtack-Technologies - Welcome</p></li>
                    <li><a href="#">Welcome</a></li>
                    <li><a href="#">Guide</a></li>
                    <li><a href="#">Technical</a></li>
                </ul>
            </nav>
        </header>

        <div class="section">
            <div class="text-articles">
                <h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ducimus ipsam cum repellat quibusdam, magnam asperiores
                    maiores laudantium animi earum neque nihil omnis dignissimos
                    sunt quam eum sint quis beatae hic!
                </h3>
            </div>
        </div>
    </body>
</html>
