---

---

<div>
    <div class="alerts">
        <p>Our Website is available on desktop only.</p>
    </div>
</div>

<style>
    .alerts {
        padding: 1px;
        background-color: #7b61ff;
    }

    .alerts p {
        color: #ffff;
        font-family: sans-serif;
        text-align: center;
        font-weight: 600;
    }
</style>
