---

---

<div>
    <div class="footer">
        <p>Copyright &copy; - 2024 Techtack-Technologies</p>
    </div>
</div>

<style>
    .footer {
        padding: 25px;
        background-color: #ffffff;
    }

    .footer p {
        color: #161616;
        font-family: sans-serif;
        text-align: center;
        font-size: larger;
        font-weight: 500;
    }
</style>
