---

---

<header>
    <div>
        <h1>
            <span>Security.</span>
            <span>Impact.</span>
            <span>Code.</span>
        </h1>
    </div>
    <hr />
</header>

<style>
    header {
        background-color: #dcff50;
        padding: 6rem;
    }
    div,
    h1 {
        color: black;
        font-family: serif;
        font-size: 9rem;
        font-family: sans-serif;
        text-align: center;
    }
</style>
